.whole-list{
    margin: auto;
    max-width: 40%;
    padding:30px;
    background-color:rgb(241, 240, 240);
    position: relative;
    border-radius: 20px;
}

#header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#lists{
    list-style: none;
    background-color:rgb(224, 245, 216);
    padding: 20px;
    min-height: 200px; 
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
}


#input{
    border:none;
    background:rgb(241, 240, 240);
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    width: 80%;
    margin: auto;
}

.buttons{
    margin: auto;
    max-width: 30%;
}

#enterBtn{
    padding:10px;
}

#clearBtn{
    padding: 10px;
    float: right;
}

